.dashboard {
  padding: calc(20 / 16 * 1rem);
}

.dashboard’s-title {
  font-size: calc(40 / 16 * 1rem);
  line-height: calc(40 / 16 * 1rem);
}

.dashboard’s-subtitle {
  font-size: calc(12 / 16 * 1rem);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
